	.page5_header {
				position: relative;
				left: 116px;
				top: -42px;
				width: 80%;
				/*border-bottom:  2px solid rgb(202, 28, 29);*/
			}
			
			.dzlb {
				position: relative;
				left: -20px;
				/*border: 1px solid rgb(202, 28, 29);*/
				top: -40px;
				/*margin-top: 50px;*/
				margin-bottom: 20px;
				font-size: 18px;
				line-height: 2em;
				font-weight: bold;
				/*margin-left: 30px;*/
				color: #000000;
				margin: 0 auto;
			}
			
			.table_body {
				/*margin: 0 auto;*/
				/*text-align: center;*/
				/*border: 1px solid rgb(202, 28, 29);*/
				position: relative;
				left: 245px;
				margin: 30px 0;
			}
			
			.rdsc {
				/*background-color: black;*/
				float: right;
				height: 200px;
				display: inline-block;
				width: 66%;
				/*margin-bottom: 30px;*/
				border-top: 2px solid rgb(202, 28, 29);
				margin-left: -30px;
				margin-top: 35px;
				position: relative;
				left: 74px;
			}
			
			.rdsc p {
				font-size: 19px;
				text-indent: 2em;
				position: relative;
				top: -40px;
			}
			
			.dz {
				/*background-color: black;*/
				float: right;
				height: 900px;
				display: inline-block;
				width: 95%;
				border-top: 2px solid rgb(202, 28, 29);
				clear: both;
				margin-top: 0px;
				margin-bottom: 40px;
				overflow: scroll;
				position: relative;
				left: 95px;
			}
			
			.dz p {
				text-indent: 25px;
				font-size: 16px;
			}
			
			.page5_img {
				height: 187px;
				width: 280px;
				margin-left: 130px;
			}
			
			.rdsc_span {
				position: relative;
				top: -65px;
				left: 280px;
				font-size: 40px;
			}
			
			.dz_span {
				position: relative;
				top: -22px;
				left: 155px;
			}
			
			.page5 {
				margin-top: 50px;
				position: relative;
				left: -115px;
				/*min-width: 1170px;*/
				/*margin: 0 15px*/
				padding: 0 25px 0 25px;